<%= error %>
<h1 class="welcome">Welcome to Car Reviews!</h1><br><br>
<h3>Here you can write reviews on your favorite cars and see what others have to say about them as well.</h3><br><br>
<% if !logged_in? %>
<p>Log in or signup above to get involved.</p>
<% end %>

