<% if @comments.nil? %>
    <h1>No comments made yet!</h1>
<% elsif @review %>
    <h1>Comments for <%= @review.title %></h1>
<% else %>
    <h1>All Comments</h1>
<% end %>

<ul>
<% @comments.each do |t| %>
   <p><%= t.user.username %> says "<%= t.content %>" about this review: <%= link_to t.review.title, review_path(t.review_id)%></p>

<% end %>
</ul>