<% if @comment.review %>
<h1>Comment for <%= @comment.review.title %></h1>
<% else %>
<h1>New Comment</h1>
<% end %>



<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render partial: "comments/form" %>

