
<%= show_reviews %>

<% @user.reviews.each do |t| %>
<br><h2><%= t.title %></h2><br>
<div class="boxem">
<%= t.content %><br><br><br><br>
<%= link_to "See the comments for #{t.title}", review_comment_path(@user, t)%>
</div><br><br>
<% end %>








