<h1>All Car Reviews<h1>
<table>
<tbody>
<% @reviews.each do |t|%>
<tr>
<td><%= link_to t.title, review_path(t) %></td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td>By: <%= link_to t.user.username, user_path(t) %></td>
<%# <%= button_to "Delete", t, method: :delete %> 
</tr>


<% end %>
</tbody>
</table>